p{
    text-align: justify;
}

table{
    margin-top: 20px;
    margin-bottom: 10px;
}

.brand-logo {
    font-size: medium;
    font-style: italic; 
    margin: 10px;
}

.row form a {
    margin: 10px;
}

/* .parallax-container .parallax img {
    min-height: 200px;
    max-height: 500px;
} */

/* img {
    min-height: 200px;
    max-height: 500px;
} */